.arrow {
  &__scroll-down {
    height: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__scroll-link {
    position: absolute;
    top: 30px;
  }
}
