
.arrow {
  &__scroll-down {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__scroll-link {
    position: absolute;
    top: 20px;
  }
}
.arrow,
.arrow:after,
.arrow:before {
  position: absolute;
}
.arrow {
  width: 15px;
  height: 15px;
  margin: -20px 0 0 -2px;
  -webkit-transform: rotate(45deg);
  border-right: 2px #00e5f2 solid;
  border-bottom: 2px #00e5f2 solid;
}
.arrow:after {
  content: "";
  width: 9px;
  height: 9px;
  margin: -5px 0px 0px -5px;
  border-right: 1px #00e5f2 solid;
  border-bottom: 1px #00e5f2 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
.arrow:before {
  content: "";
  width: 12px;
  height: 12px;
  margin: 0px 0 0 0px;
  border-right: 1px #00e5f2 solid;
  border-bottom: 1px #00e5f2 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-15px, -15px);
  }
}
@media (max-width: 768px) {
  .arrow {
    &__scroll-down {
      padding: 20px 40px 20px 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
    &__scroll-link {
      position: absolute;
      top: 85px;
    }
  } 
}
@media (max-width: 640px) {
  .arrow {
    &__scroll-link {
      top: 80px;
    }
  } 
}
@media (max-width: 425px) {
  .arrow {
    &__scroll-link {
      top: 75px;
    }
  } 
}
@media (max-width: 375px) {
  .arrow {
    &__scroll-link {
      top: 80px;
    }
  } 
}
@media (max-width: 320px) {
  .arrow {
    &__scroll-link {
      top: 75px;
    }
  } 
}
