.skills {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
  }
  &__section-name {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 0.04em;
    margin-bottom: 55px;
  }
  &__info-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding: 60px 100px 0px 100px;
  }
  &__button-read-more {
    padding: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.02em;
  }
}
.swiper {
  width: 72%;
  height: 420px;
  margin: 0px 50px 55px 50px;
  padding: 0px 15px 0px 15px;
}
.swiper-wrapper { 
  box-sizing: border-box;
}
.swiper-slide {
  width: 275px;
  height: 378px;
  border-radius: 18px;
  border: 1px solid #00e5f2;
  box-shadow: rgba(240, 46, 170, 0.12) 0px 2px 4px 0px,
  rgba(240, 46, 170, 0.32) 0px 2px 16px 0px;
  background-image: url("../../../Img/preview.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-pagination-bullet {
  background-color: #a24cd7;
}

@media (max-width: 1024px) {
  .swiper {
    width: 99%;
  }
}
@media (max-width: 990px) {
  .swiper {
    width: 84%;
  }
}
@media (max-width: 768px) {
  .skills__container {
    height: 580px;
  }
  .swiper {
    width: 80%;

  }
  .skills__section-name {
    font-size: 38px;
  }
}
@media (max-width: 640px) {
  .swiper {
    width: 45%;
  
  }
}
@media (max-width: 480px) {
  .swiper {
    width: 58%;
    
  }
}
@media (max-width: 425px) {
  .swiper {
    width: 79%;
  
  }
}
@media (max-width: 375px) {
  .swiper {
    width: 85%;
   
  }
}
@media (max-width: 320px) {
  .swiper {
    width: 90%;
  
  }
}
