.contact {
  &__container {
    padding: 60px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 820px;
    width: 100%;
  }
  &__section-name {
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    padding: 0px 0px 50px 0px;
    letter-spacing: 0.04em;
  }
  &__content {
    height: 478px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__content-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 26px;
    background-color: #4a2a72;
    background: linear-gradient(to bottom right, #4a2a72, #851380);
    border-radius: 999px;
  }
  &__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 0.04em;
  }
  &__info {
    display: flex;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 36px;
  }
}

@media (max-width: 768px) {
  .contact {
    &__container {
      height: 590px;
      padding: 60px 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__section-name {
      font-size: 38px;;
    }
    &__content {
      height: 300px;
      width: 100%;
    }
    &__content-info {
      width: auto;
    }
    &__logo {
      width: 70px;
      height: 70px;
      font-size: 24px;
    }
    &__title {
      font-weight: 700;
      font-size: 28px;
      line-height: 75px;
    }
    &__info {
      font-size: 16px;
      letter-spacing: 0em;
      line-height: 30px;
    }
  }
}
