.about {
    background-image: url("../../../components/Section/About/Img/vectors.png");
    background-repeat: no-repeat;
    &__container {
      display: flex;
      flex-direction: column;
      height: 742px;
    }
    &__hero {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row-reverse;
    }
    &__name-section {
      padding: 40px 0px 40px 0px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: 700;
      font-size: 48px;
      line-height: 63px;
      letter-spacing: 0.02em;
    }
    &__hero-img {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex: 0 1 50%;
    }
    &__content {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 36px;
      line-height: 47px;
      padding: 10px 20px;
      letter-spacing: 0.02em;
    }
    &__info {
      padding: 10px 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
    }
  }
  .img {
    &__hero-about {
      width: 61%;
    }
  }
    
  @media (max-width: 1145px) {
    .img {
      &__hero-about {
        width: 70%;
      }
    }
  }
  @media (max-width: 990px) {
    .about {
      &__container {
        height: fit-content;
      }
      &__name-section {
        padding: 20px 0px 0px 0px;
        font-size: 48px;
      }
      &__content {
        flex: 1 1 50%;
      }
      &__title {
        font-size: 30px;
      }
      &__info {
        font-size: 16px;
        line-height: 26px;
      }
    }
    .img {
      &__hero-about {
        width: 80%;
      }
    }
  }
  @media (max-width: 768px) {
    .about {
      &__hero {
        flex-direction: row-reverse;
      }
      &__name-section {
        padding: 20px 0px 0px 0px;
        font-size: 38px;
      }
      &__content {
        flex: 1 1 50%;
      }
      &__title {
        font-size: 30px;
      }
      &__info {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .img {
      &__hero-about {
        width: 100%;
      }
    }
  }
  @media (max-width: 640px) {
    .about {
      &__hero {
        flex-direction: column-reverse;
      }
    }
    .img {
      &__hero-about {
        width: 51%;
      }
    }
  }
  @media (max-width: 425px) {
    .about {
      &__title {
        font-size: 30px;
      }
      &__info {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .img {
      &__hero-about {
        width: 80%;
      }
    }
  }
  @media (max-width: 320px) {
    .about {
      &__title {
        font-size: 30px;
      }
      &__info {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .img {
      &__hero-about {
        width: 90%;
      }
    }
  }
  