.about {
    background-image: url("../../../components/Section/About/Img/vectors.png");
    background-repeat: no-repeat;
    &__container {
      display: flex;
      flex-direction: row-reverse;
      height: 742px;
    }
    &__hero {
      flex: 0 1 50%;
    }
    &__name-section {
      padding: 55px 0px 0px 0px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: 700;
      font-size: 48px;
      line-height: 63px;
      letter-spacing: 0.02em;
    }
    &__hero-img {
      padding-top: 52px;
    }
    &__content {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 36px;
      line-height: 47px;
      padding: 10px 20px;
      letter-spacing: 0.02em;
    }
    &__info {
      padding: 10px 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
    }
  }
  .img {
    &__hero-about {
      margin: 3px 0px 0px 120px;
      width: 61%;
    }
  }
    
  @media (max-width: 1145px) {
    .img {
      &__hero-about {
        margin: 4px 0px 0px 40px;
        width: 83%;
      }
    }
  }
  @media (max-width: 990px) {
    .about {
      &__container {
        height: fit-content;
      }
      &__name-section {
        padding: 20px 0px 0px 0px;
        font-size: 48px;
      }
      &__hero-img {
        padding-top: 50px;
      }
      &__content {
        flex: 1 1 50%;
      }
      &__title {
        font-size: 30px;
      }
      &__info {
        font-size: 16px;
        line-height: 26px;
      }
    }
    .img {
      &__hero-about {
        margin: 6px 0px -2px 40px;
        width: 80%;
      }
    }
  }
  @media (max-width: 767px) {
    .about {
      &__container {
        height: fit-content;
        flex-direction: column;
      }
      &__hero {
        flex-direction: row-reverse;
      }
      &__name-section {
        justify-content: flex-start;
        padding: 20px 0px 0px 0px;
        font-size: 48px;
      }
      &__hero-img {
        justify-content: flex-end;
        padding-top: 50px;
      }
      &__content {
        flex: 1 1 50%;
      }
      &__title {
        font-size: 30px;
      }
      &__info {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .img {
      &__hero-about {
        margin: 0px 0px 0px 300px;
        width: 40%;
      }
    }
  }
  